---
import "../styles/global.css";
import Aside from "./Aside.astro";
import Productos from "./Productos.astro"
---


<main class="bg-amber-200 w-full h-screen grid grid-cols-10">
    <Aside></Aside>
    <Productos></Productos>
</main>