---
import "../styles/global.css";
import Aside from "./Aside.astro";
import Index from "./Index.astro";
import Productos from "./Productos.astro";
import Header from "./ComponentsHeader/Header.astro";
---


<main class="w-full h-screen grid grid-cols-10">
    <Header></Header>
    <Aside></Aside>
    <Index></Index>
    <Productos></Productos>

</main>